NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
COLLAB_BACKEND_ORIGIN="http://localhost:3002"
COLLAB_GATEWAY_HMAC_KEY_ID="local-dev"
COLLAB_GATEWAY_HMAC_SECRET="AAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8"
